<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OQSConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=OQS;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient" />
    <add name="NZConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=NZ;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="ERP2ConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=NZ_ERP2;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="employee_section">
    <system.web>
      <authorization>
        <allow roles="NIZING\Domain Users"/>
        <!--<allow users="NIZING\mis, NIZING\kevin"/>-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="revivify_employee_section">
    <system.web>
      <authorization>
        <allow users="NIZING\mis, NIZING\kevin, NIZING\chrissy, NIZING\kelven"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.web>
    <sessionState timeout="60"/>
  </system.web>
</configuration>