<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<staticContent>
			<mimeMap fileExtension="webp" mimeType="image/webp" />
		</staticContent>
	</system.webServer>
	<connectionStrings>
		<add name="AdminWebsiteConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=Website;User ID=NizAdmin20210824;Password=20210825Encryption" providerName="System.Data.SqlClient" />
		<add name="WebsiteConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=Website;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient" />
		<add name="OQSConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=OQS;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient" />
		<add name="NZConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=NZ;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient" />
		<add name="ERP2ConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=NZ_ERP2;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient" />
		<add name="SunrizeConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=SUNRIZE;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<location path="admin">
		<system.web>
			<authorization>
				<allow users="NIZING\mis, NIZING\kevin"/>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="employee_section">
		<system.web>
			<authorization>
				<deny users="NIZING\casper" />
				<allow roles="NIZING\Domain Users" />
				<!--<allow users="NIZING\mis, NIZING\kevin"/>-->
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="revivify_employee_section">
		<system.web>
			<authorization>
				<allow users="NIZING\mis, NIZING\kevin, NIZING\chrissy, NIZING\kelven" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="neo_employee_section">
		<system.web>
			<authorization>
				<allow users="NIZING\mis, NIZING\kevin, NIZING\chrissy, NIZING\kelven" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="sunrise_employee_section">
		<system.web>
			<authorization>
				<allow users="NIZING\mis, NIZING\kevin, NIZING\chrissy, NIZING\kelven, NIZING\casper, NIZING\mandy.lo, NIZING\carina.liu, NIZING\dakai, NIZING\wanda" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="oqs">
		<system.web>
			<authorization>
				<allow roles="NIZING\Domain Users" />
				<!--<allow users="NIZING\kevin, NIZING\chrissy"/>-->
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<customErrors mode="RemoteOnly" defaultRedirect="~/page-not-found?">
			<error statusCode="404" redirect="~/page-not-found"/>
		</customErrors>
		<!--<customErrors mode="Off"></customErrors>-->
		<sessionState mode="InProc" timeout="720" />
		<httpRuntime  maxRequestLength="52428800" executionTimeout="600"/>
	</system.web>
	<system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1"/>
			<error statusCode="404" path="/page-not-found" responseMode="ExecuteURL"/>
		</httpErrors>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800" />
				<!--50MB-->
			</requestFiltering>
		</security>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^localhost(:\d+)?$" negate="true"/>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Found"
						url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>