<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OQSConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=OQS;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="NZConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=NZ;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="ERP2ConnectionString" connectionString="Data Source=SMARTERP;Initial Catalog=NZ_ERP2;Persist Security Info=True;User ID=everyone;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<system.webServer>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="*"/>
        <add name="Access-Control-Allow-Headers" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>-->
  <location path="employee_section">
    <system.web>
      <authorization>
        <deny users="NIZING\casper"/>
        <allow roles="NIZING\Domain Users"/>
        <!--<allow users="NIZING\mis, NIZING\kevin"/>-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="revivify_employee_section">
    <system.web>
      <authorization>
        <allow users="NIZING\mis, NIZING\kevin, NIZING\chrissy, NIZING\kelven"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="neo_employee_section">
    <system.web>
      <authorization>
        <allow users="NIZING\mis, NIZING\kevin, NIZING\chrissy, NIZING\kelven"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="sunrise_employee_section">
    <system.web>
      <authorization>
        <allow users="NIZING\mis, NIZING\kevin, NIZING\chrissy, NIZING\kelven, NIZING\casper, NIZING\mandy.lo"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="oqs">
    <system.web>
      <authorization>
        <allow roles="NIZING\Domain Users"/>
        <!--<allow users="NIZING\kevin, NIZING\chrissy"/>-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <!--<httpRuntime/>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <!--<httpRuntime executionTimeout="28800" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false"
minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />-->
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="Off" defaultRedirect="/ErrorPage.aspx"/>
    <sessionState timeout="60"/>
  </system.web>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="Fail bad requests">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Hide page name" stopProcessing="true">
          <match url="www.nizing.com.tw[/]([a-zA-Z\d-]+).aspx$" ignoreCase="true" />
          <action type="Rewrite" url="www.nizing.com.tw" />
        </rule>
        <rule name="Hide page name for local host" stopProcessing="true">
          <match url="localhost:50429/([a-zA-Z\d-]+)" ignoreCase="true" />
          <action type="Rewrite" url="/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
</configuration>