<?xml version="1.0"?>
<configuration>
  <system.web>

  </system.web>
  <location path="scrap">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部"/>
        <allow users="NIZING\mis, NIZING\chun"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="QC01.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\品管課"/>
        <allow users="NIZING\mis, NIZING\chun"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="QC02.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\品管課"/>
        <allow users="NIZING\mis, NIZING\chun"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
