<?xml version="1.0"?>
<configuration>
  <!--生管處-->
  <location path="ProductionProgress.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\生管處"/>
        <allow users="NIZING\mis, NIZING\teflon"/>
      </authorization>
    </system.web>
  </location>
  <location path="ProductionProgress_Dept.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\生管處"/>
        <allow users="NIZING\mis, NIZING\teflon"/>
      </authorization>
    </system.web>
  </location>
  <location path="ProductionControlReport.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\生管處"/>
        <allow users="NIZING\mis"/>
      </authorization>
    </system.web>
  </location>
  <!--製造中心-->
  <location path="ProductionEfficiencyReport.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\生管處"/>
        <allow users="NIZING\mis"/>
      </authorization>
    </system.web>
  </location>  
  <!--業務部-->
  <location path="NetSale.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\業務部, NIZING\管理部"/>
        <allow users="NIZING\mis, NIZING\chun, NIZING\yoshida, NIZING\doris"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SaleRecord.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\業務部, NIZING\管理部"/>
        <allow users="NIZING\mis, NIZING\chun"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewClientReport.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\業務部, NIZING\管理部"/>
        <allow users="NIZING\mis, NIZING\chun"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CustomerTransactionReport.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\業務部, NIZING\管理部"/>
        <allow users="NIZING\mis, NIZING\chun"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ABC_Comparison.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\業務部, NIZING\管理部"/>
        <allow users="NIZING\mis, NIZING\chun"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--採購部-->
  <location path="PurchaseReport.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\採購部, NIZING\管理部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>  
  <!--人事部-->
  <location path="SalaryChangeReport.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\人事部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EmployeeDayOffReport.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\人事部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WorkDuration.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\人事部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HR04.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\人事部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HR05.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\人事部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HR06.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部"/>
        <allow users="NIZING\mis,NIZING\yoshida"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HR07.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\人事部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
