<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OQSConnectionString" connectionString="$(ReplacableToken_OQSConnectionString-Web.config Connection String_0)"
      providerName="System.Data.SqlClient"/>
    <add name="NZConnectionString" connectionString="$(ReplacableToken_NZConnectionString-Web.config Connection String_0)" providerName="System.Data.SqlClient"/>
    <add name="ERP2ConnectionString" connectionString="$(ReplacableToken_ERP2ConnectionString-Web.config Connection String_0)"
      providerName="System.Data.SqlClient"/>
    <add name="SunrizeConnectionString" connectionString="$(ReplacableToken_SunrizeConnectionString-Web.config Connection String_0)"
      providerName="System.Data.SqlClient"/>
    <add name="SunriseConnectionString" connectionString="$(ReplacableToken_SunriseConnectionString-Web.config Connection String_0)"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

  </system.web>
</configuration>
