<?xml version="1.0"?>
<configuration>
  <system.web>

  </system.web>

  <location path="PD_PurchaseInProgress.aspx">
    <system.web>
      <authorization>
        <deny users="NIZING\dakai, NIZING\wanda, NIZING\casper"/>
        <allow roles="NIZING\Domain Users"/>
        <!--<allow users="NIZING\mis, NIZING\kevin"/>-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SD_PastCostsAndPrices.aspx">
    <system.web>
      <authorization>
        <deny users="NIZING\dakai, NIZING\wanda"/>
        <allow roles="NIZING\Domain Users"/>
        <!--<allow users="NIZING\mis, NIZING\kevin"/>-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SD01.aspx">
    <system.web>
      <authorization>
        <deny users="NIZING\dakai, NIZING\wanda, NIZING\casper"/>
        <allow roles="NIZING\Domain Users"/>
        <!--<allow users="NIZING\mis, NIZING\kevin"/>-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SD03_OrderInProgress.aspx">
    <system.web>
      <authorization>
        <deny users="NIZING\dakai, NIZING\wanda, NIZING\casper"/>
        <allow roles="NIZING\Domain Users"/>
        <!--<allow users="NIZING\mis, NIZING\kevin"/>-->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HR04.aspx">
    <system.web>
      <authorization>
        <allow roles="NIZING\管理部, NIZING\人事部"/>
        <allow users="NIZING\mis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
