:root {
    --nizing-white: #ffffff;
    --nizing-black: #000000;
    --nizing-lightgray: #bfbfbf;
    --nizing-red: #ff0000;
    --nizing-yellow: #fffa00;
    --nizing-blue: #2174e8;
    --nizing-skyblue: #65ccf6;
    --nizing-green: #4cff00;
    --nizing-brown: #de7400;
    --nizing-transparent: rgba(255,255,255,0.5);
    --nizing-yellowgreen: -webkit-linear-gradient(135deg, #4cff00 0 50%, #fffa00 50% 100%);
    --nizing-whitered: linear-gradient(135deg, #ffffff 0 50%, #ff0000 50% 100%);
    --nizing-whiteblue: linear-gradient(135deg, #ffffff 0 50%, #2174e8 50% 100%);
    --nizing-whiteblack: linear-gradient(135deg, #ffffff 0 50%, #000000 50% 100%);
}


/*background color*/
.bg-white {
    background-color: var(--nizing-white) !important;
}

.bg-black {
    background-color: var(--nizing-black) !important;
}

.bg-lightgray {
    background-color: var(--nizing-lightgray) !important;
}

.bg-red {
    background-color: var(--nizing-red) !important;
}

.bg-yellow {
    background-color: var(--nizing-yellow) !important;
}

.bg-blue {
    background-color: var(--nizing-blue) !important;
}

.bg-skyblue {
    background-color: var(--nizing-skyblue) !important;
}

.bg-green {
    background-color: var(--nizing-green) !important;
}

.bg-brown {
    background-color: var(--nizing-brown) !important;
}

.bg-yellowgreen {
    background: var(--nizing-yellowgreen) !important;
}

.bg-whitered {
    background: var(--nizing-whitered) !important;
}

.bg-whiteblue {
    background: var(--nizing-whiteblue) !important;
}

.bg-whiteblack {
    background: var(--nizing-whiteblack) !important;
}

/*custom color*/
.nizing-blue {
    color: #1da3d9 !important;
}
