/*background color*/
.bg-black {
    background-color: #000000 !important;
}

.bg-red {
    background-color: #ff0000 !important;
}

.bg-yellow {
    background-color: #fffa00 !important;
}

.bg-blue {
    background-color: #00ffff !important;
}

.bg-skyblue{
    background-color: #65ccf6 !important;
}

.bg-green {
    background-color: #4cff00 !important;
}

.bg-brown {
    background-color: #de7400 !important;
}

.bg-yellowgreen {
    background: linear-gradient(135deg, #fffa00 0 50%, #4cff00 50% 100%) !important;
}

/*custom color*/
.nizing-blue {
    color: #1da3d9 !important;
}
