.table {
    text-align: center;
}

.table-striped-blue th,
.table-striped-blue.table-has-footer tr:last-child td {
    background-color: #29ABE2;
    color: #ffffff;
}

.table-striped-blue tr:nth-child(2n) td {
    background-color: #c3e8f4;
}

.table-striped-blue tr th,
.table-striped-blue tr td {
    border: solid 1px #ffffff;
}

